.row {
  position: relative;
  display: table;
  width: 100%;

  .col-20 {
    display: table-cell;
    vertical-align: top;
    width: 15%;
  }

  .col-80 {
    display: table-cell;
    vertical-align: top;
    width: 85%;
    @include padding(50px 50px 50px 50px);
  }
}
