


$beige: #fefeea;
$beige-darken: #feecca;
$dark-gray: #333;
$green: #009688;




$white: #fff;
$light-gray: #f3f3f3;
$gray: #ccc;
$black: #000;
$cool-green: #1ABC9C;
$font-dark-color: #111;
$font-light-color: #fafafa;
$link-color: #000;
$blue: #2c97de;
$red: #FF2D55;
$orange: #FF9500;
